html{
    font-size: 20px;
}

body{
    background-color: #fccb06;
}

main{
    font-size: 20px;
}

section{
    width:50%;
    background-color: #011936;
    height: 50px;
    /* margin-bottom: 2em;
    margin-top: 10px;
    margin-left: 2rem;
    margin-right: 2rem; */
    margin: 10px auto;
}

