@media print {
    section {
        background-color: transparent;
        border: 10px solid #0000;
    }
}
@media screen and (min-width: 360px){

        html{
            font-size: 20px;
        }
        
        body{
            background-color: black;
        }
        
        main{
            font-size: 20px;
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(5, 50px);
            grid-template-areas: "a"
                                 "b"
                                 "c "
                                 "d"
                                 "e"
                                 "f";
            gap: 10px;
        }
        
        section{
            background-color: #011936;
            /* width:50%;/
            /* height: 50px;  */
            /* margin-bottom: 2em; */
            /*margin-top: 10px;*/
           /* margin-left: 2rem;*/
           /* margin-right: 2rem; */
            /* margin: 10px auto; */
             border-width: 15px solid black;
        }
        
        /* section:nth-of-type(1){
                    grid-area: a;
                    font-size: 100px;
                    text-align: center;
                    -webkit-text-fill-color: #011936; */
        .first{
            grid-area:a;
            background-color: rgb(204, 102, 19);
            -webkit-text-fill-color: black;
            font-size: 200%;
        }
        
        section:nth-of-type(2){
                    grid-area: b;
                    
        }
        section:nth-of-type(3){
                    grid-area: c;
        }
        section:nth-of-type(4){
                    grid-area: d;
        } 
        section:nth-of-type(5){
                    grid-area: e;
        }
        section:nth-of-type(6){
                    grid-area: f;
        }
        section:nth-of-type(7){
                    grid-area: g;
        }
        section:nth-of-type(8){
                    grid-area: h;
        }
        section:nth-of-type(9){
                    grid-area: i;
        }
}  
@media screen and (min-width: 768px) {

    html{
        font-size: 20px;
    }
    
    body{
        background-color: black;
    }
    
    main{
        font-size: 20px;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(5, 80px);
        grid-template-areas: "a a a a a" 
                             "a a a a a"
                             "b b c d d"
                             "e e e d d"
                             "f g g d d";
        gap: 10px;
        
    }
    
    section{
        background-color: #011936;
        /* width:50%;/
        /* height: 50px;  */
        /* margin-bottom: 2em; */
        /*margin-top: 10px;*/
       /* margin-left: 2rem;*/
       /* margin-right: 2rem; */
        /* margin: 10px auto; */
        border-width: 15px solid black;
    }
    
    /* section:nth-of-type(1){
                grid-area: a;
                font-size: 100px;
                text-align: center;
                -webkit-text-fill-color: #011936; */
    .first{
        grid-area:a;
        background-color: rgb(223, 121, 26);
        -webkit-text-fill-color: black;
        font-size: 200%;
    }
    
    section:nth-of-type(2){
                grid-area: b;
                
    }
    section:nth-of-type(3){
                grid-area: c;
    }
    section:nth-of-type(4){
                grid-area: d;
    } 
    section:nth-of-type(5){
                grid-area: e;
    }
    section:nth-of-type(6){
                grid-area: f;
    }
    section:nth-of-type(7){
                grid-area: g;
    }
    section:nth-of-type(8){
                grid-area: h;
    }
    section:nth-of-type(9){
                grid-area: i;
    }
}
@media screen and (min-width: 920px) {

html{
    font-size: 20px;
}

body{
    background-color: black;
}

main{
    font-size: 20px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(9, 70px);
    grid-template-areas: "a a a a a"
                         "a a a a a"
                         "b b c c c"
                         "d d d e e"
                         "f f f f f"
                         "g g h i i"
                         "j j j k k"
                         "l l l l l"
                         "l l l l l";
    gap: 10px;
    border-color: black;
    border-width: 10px;
}

section{
    background-color: #011936;
    /* width:50%;/
    /* height: 50px;  */
    /* margin-bottom: 2em; */
    /*margin-top: 10px;*/
   /* margin-left: 2rem;*/
   /* margin-right: 2rem; */
   border-width: 15px solid black;
}

/* section:nth-of-type(1){
            grid-area: a;
            font-size: 100px;
            text-align: center;
            -webkit-text-fill-color: #011936; */
.first{
    grid-area:a;
    background-color: rgb(223, 132, 14);
    -webkit-text-fill-color: black;
    font-size: 200%;
}

section:nth-of-type(2){
            grid-area: b;
            
}
section:nth-of-type(3){
            grid-area: c;
}
section:nth-of-type(4){
            grid-area: d;
} 
section:nth-of-type(5){
            grid-area: e;
}
section:nth-of-type(6){
            grid-area: f;
}
section:nth-of-type(7){
            grid-area: g;
}
section:nth-of-type(8){
            grid-area: h;
}
section:nth-of-type(9){
            grid-area: i;
}
section:nth-of-type(10){
    grid-area: j;
}
section:nth-of-type(11){
    grid-area: k;
}
section:nth-of-type(12){
    grid-area: l;
}
}


