
main{
    background-color: #011936 ;
    width: 24%;
    margin: 0 auto;
    border-radius: 20px 20px 20px 20px;
    margin-top: 0 auto;
    
}

body{
    background-color:rgba(104, 103, 102, 0.829);
}

section{
        text-transform: capitalize;
        background-color: #fff;
        padding: 20px 30px;
        border-radius: 18px 18px 0 35px;
        font-family:  Arial, Helvetica, sans-serif;
        font-size: 110%;
        height: 160px;
        margin-bottom: 38px;
}

h2{
    color:#011936;
}

section>h3 {
    font-size: 80%;
    text-transform: none;
    margin: none;
}

.imp input{
    display:inline-block;
    width: 85%;
    margin-bottom: 10px;
    margin-top: 8px;
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 2px solid  #81331a;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-text-fill-color: rgb(211, 209, 206);
}

button{
    width: 85%; 
    height: 35px;
    text-transform: capitalize;
    border-radius: 8px 8px 8px 8px;
}
 
button:hover{
    background-color: #81331a ;
    color: white
}
.box{
    margin :20px 0;
}


.imp2 label{
    -webkit-text-fill-color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin: 0 0 20% 0;
    
}

.imp2 label.id{ 
    margin: 21%;
    -webkit-text-fill-color: #b9684d;
}

.imp2 label.id2 {
    margin:35% 0 0 50%;
    margin-top: 20px;  
    -webkit-text-fill-color:#b9684d;
}

.imp2 input[type=checkbox][id=rem]{
    margin-bottom: 42px;
}

h1{
    color:#011936
}

.imp i{
    color: white;
    margin:80%;
    position:relative;    
    margin-bottom: 2px;

}
.pviewer{
    z-index: 9999;
    position:absolute;
    left:880px;
    margin-top: -31px;
    color:white;
}


