*{
    margin: 0 auto;
}
body{
    background-color: rgb(0, 0, 0);
    background-image: url(https://static-cse.canva.com/blob/572626/1.magebyRodionKutsaevviaUnsplash.jpg);
    background-blend-mode:overlay rgba(208, 0, 0, 0.457);
}

h1{
    color: white;
    margin-left: 400px;
}


main{
    display: flex;
    flex-direction: row;

}

main > div:first-of-type{
    margin-top: 10px;
    padding-top: 10px;
    border: 1px solid black;
    height :400px;
    width: 500px;
    background-color: rgb(137, 43, 226);
    border-radius: 10px; 
    display:flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;  
}

main > div:nth-of-type(2){
    margin-top :10px;
    border: 1px solid black;
    height :400px;
    width: 500px;
    background-color: rgb(226, 43, 95);
    border-radius: 10px;
    display:flex;
    flex-direction: column;
    align-items: center;  
    justify-content: center;
    color: white;
    font-size:30px;
}

input {
   width: 200px; 
   height: 30px;
   border-radius: 5px;   
}

button{
    width:150px;
    height: 25px;
    border-radius: 5px white ;
}

button:hover{
    color: white;
    background-color: #f1c;
}


